.song-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  &:global(.move-enter),
  &:global(.move-appear) {
    opacity: 0;
    .list-wrap {
      transform: translateY(100%);
    }
  }
  &:global(.move-enter-active),
  &:global(.move-appear-active) {
    opacity: 1;
    transition: opacity 0.3s;
    .list-wrap {
      transform: translateY(0);
      transition: transform 0.3s;
    }
  }
  &:global(.move-exit) {
    opacity: 1;
    .list-wrap {
      transform: translateY(0);
    }
  }

  &:global(.move-exit-active) {
    opacity: 0;
    transition: opacity 0.3s;
    .list-wrap {
      transform: translateY(100%);
      transition: transform 0.3s;
    }
  }

  .mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .list-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 20px;
    width: 100%;
    background-color: $color-bg;
    border-radius: 10px 10px 0 0;
    opacity: 1;
    .list-header {
      padding: 10px 0;
      color: $color-primary-light;
    }
    .list-scroll-wrap {
      height: 50vh;
      overflow: hidden;
    }
  }
}
