.cd {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  .img-card {
    border-radius: 50%;
    padding: 10px;
    height: fit-content;
    img {
      width: 270px;
      height: 270px;
      border-radius: 50%;
    }
  }
  animation: spin 15s infinite linear;
  &.pause {
    animation-play-state: paused;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
