.songs-wrapper {
  flex: 1;
  padding: 8px;
  .wrapper-content {
    .card {
      margin-bottom: 15px;
      width: 100%;
      .content {
        display: flex;
        align-items: center;
        .img {
          width: 50px;
          height: 50px;
          margin-right: 10px;
          flex-shrink: 0;
          img {
            border-radius: 0.25rem;
          }
        }
        .info {
          flex-grow: 1;
          overflow: hidden;
          margin-right: 10px;
          .song-info {
            overflow: hidden;
            font-size: xx-small;
            color: $color-light-gray;
            margin-bottom: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .song-name {
            margin-bottom: 0;
            text-overflow: ellipsis;
          }
        }
        .play-button {
          flex-shrink: 0;
          color: $color-primary-light;
        }
      }
    }
  }
}
