.wrapper-content {
  overflow: hidden;
  width: 1050px;
  padding: 5px;
  .card-wrapper {
    color: $color-gray;
    float: left;
    margin-right: 10px;
    width: 160px;
    white-space: pre-wrap;
    .img-card {
      padding: 15px;
      .img {
        border-radius: 0.25rem;
        display: block;
        width: 130px;
        height: 130px;
      }
    }
    .desc {
      padding-top: 5px;
      font-size: small;
    }
  }
}
