.controller {
  padding: 0 10%;
  .button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 20%;
    padding-bottom: 2rem;
    .control-button {
      color: $color-primary-light;
      flex-shrink: 0;
      height: fit-content;
    }
  }
}
